*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
    align-items: center;
}
.box{
    background: #024def;
    width: 100px;
    height: 100px;
    margin: 20px;
}
.box2{
    background: #024def;
    width: 100px;
    height: 100px;
    margin: 20px;
}

button{
    width: 200px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(188, 188, 188);
    border-radius: 20px 0 20px 0;
}
.button1{
    background-color: rgb(0, 0, 255);
    border: 1px solid rgb(1, 1, 153);
}
.button1:hover{
    background-color: rgb(22, 150, 225);
    border: 1px solid rgb(1, 1, 153);
}


.button2{
    background-color: rgb(255, 0, 247);
    border: 1px solid rgb(103, 24, 78);
}
.button2:hover{
    background-color: rgb(255, 106, 215);
    border: 1px solid rgb(103, 24, 78);
}


.button3{
    background-color: rgb(255, 149, 0);
    border: 1px solid rgb(134, 63, 1);
}
.button3:hover{
    background-color: rgb(255, 182, 109);
    border: 1px solid rgb(105, 64, 6);
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: rgb(188, 188, 188);
    font-size: 16px;
}